<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Oixum SQL</title>
<style>
 table, th{
   width: auto;
   height: auto;
 }
</style>
</head>
<body>
  {{{ body }}}
</body>
</html>
